# Ignore virtual environments
venv/
env/
.env

# Ignore git history
.git/
.gitignore

# Ignore old heavy AI models 
*.h5
*.pt
*.pth
*.weights

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore uploaded files folder
Uploaded_Files/

# Ignore Terraform files (Jenkins handles these, the web app doesn't need them)
terraform/
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl